// category.scss

.category {
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #ffe5e5; // light pink bar
  //   border-bottom: 1px solid #f5c2c2;

  &__item {
    flex: 1;
    text-align: center;
    // padding: 0.75rem 0;
    font-family: Pretendard, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #666;
    cursor: pointer;

    &--active {
      color: #000;
      font-weight: bold;
      border-bottom: 2px solid #ff8a8a; // accent under active tab
    }
  }
  :hover {
    color: #ffff;
  }
}
